In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import random

import seaborn as sns
import statsmodels.api as sm
from statsmodels.formula.api import ols

from sklearn.model_selection import train_test_split

from statsmodels.formula.api import logit

## 1. Do the following to explore the data.

In [5]:
# Load housing dataset
df_housing = pd.read_csv('Data\melb_data.csv')
df_housing

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

## (a) Print the number of missing values for each variable. Are there any variables that you think might have issues from this?

In [6]:
# apply to whole dataframe
df_housing.isna().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

I think the missing values in the building area could result in other issues.

## (b) Create a bar chart that shows the median housing price for each Regionname Do you think that Regionname will aﬀect housing price?

In [7]:
# here are the Regionname counts
Regionname_counts = df_housing['Regionname'].value_counts()
Regionname_counts

Southern Metropolitan         4695
Northern Metropolitan         3890
Western Metropolitan          2948
Eastern Metropolitan          1471
South-Eastern Metropolitan     450
Eastern Victoria                53
Northern Victoria               41
Western Victoria                32
Name: Regionname, dtype: int64

In [8]:
# we'll get the Regionnames from .keys() method
plt.bar(x=Regionname_counts.keys(), height=value_counts)
plt.show()

NameError: name 'value_counts' is not defined

## (c) Use seaborn’s lmplot function to create a scatter plot with Lattitude on the x-axis and Longtitude on the y-axis colored by Distance (Hint: set legend andfit reg to False). What is this?

## 2. Assume that the mean of Price in this dataset is the population mean for housing prices in Melbourne. Choose a particular Region, take a random sample of 25 houses from Regionname and conduct a z-test with level of signiﬁcance α = 0.5 to decide if housing prices in this Region diﬀer from the population mean signiﬁcantly. Use the standard error of the sample as the variance for the distribution of sample means.

## (a) What are the Null and Alternative Hypothesis?

## (b) Use the p-value to decide whether to reject or fail to reject.

## 3. Find two variables that are linearly correlated and provide the three pieces of evidence below:

## (a) Scattor plot of the two variables

## (b) Pearson Correlation Coeﬃcient between the two variables

## (c) Scatter plot of the ﬁtted values of the line of best ﬁt against the residuals

## 4.

## (a) Pick three variables that might be linearly correlated with Price (anything with Correlation Coeﬃcient ρ satisfying |ρ| > 0.1) that satisfy a *weak* assumption of non-Multicolinearity (use a Correlation Coeﬃcient ρ satisfying |ρ| > 0.75 to determine strongly colinear)

## (b) Perform OLS regression and report the R2.

## 5.

In [9]:
from sklearn.model_selection import train_test_split

## (a) Create a validation set using ten percent of the data.

In [10]:
# take random 10% of the housing for testing

train, val = train_test_split(df_housing, test_size=0.1, random_state=2020)

In [11]:
train.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
12906,Bentleigh,210 Centre Rd,4,h,1895000.0,S,Jellis,19/08/2017,11.4,3204.0,...,2.0,2.0,557.0,220.0,1920.0,NaN,-37.91741,145.02873,Southern Metropolitan,6795.0
11732,Malvern East,26 Millewa Av,3,h,1638000.0,S,Fletchers,22/07/2017,8.4,3145.0,...,1.0,1.0,697.0,NaN,NaN,Stonnington,-37.88354,145.07536,Southern Metropolitan,8801.0
11316,Clayton,1/30 Morton St,3,u,696000.0,S,Harcourts,15/07/2017,16.7,3168.0,...,1.0,2.0,259.0,NaN,NaN,Monash,-37.91735,145.13814,South-Eastern Metropolitan,5837.0
3095,Hampton,52 Service St,4,h,2250000.0,S,Buxton,28/08/2016,13.7,3188.0,...,2.0,2.0,647.0,260.0,1925.0,Bayside,-37.94070,145.01040,Southern Metropolitan,5454.0
7995,Heidelberg West,15 Tarakan St,4,h,725000.0,S,Miles,29/04/2017,9.4,3081.0,...,1.0,2.0,585.0,NaN,NaN,Banyule,-37.74690,145.04480,Eastern Metropolitan,2674.0

In [12]:
val.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
5385,Richmond,140/73 River St,2,u,604000.0,SP,Biggin,22/05/2016,2.6,3121.0,...,2.0,2.0,0.0,75.0,2009.0,Yarra,-37.81890,145.01310,Northern Metropolitan,14949.0
1003,Box Hill,5 Patricia St,3,h,1170000.0,S,Ray,23/04/2016,13.1,3128.0,...,1.0,1.0,755.0,95.0,1920.0,Whitehorse,-37.82640,145.12480,Eastern Metropolitan,4605.0
6364,Toorak,4 Matthews Ct,3,h,2820000.0,PI,Kay,10/12/2016,4.6,3142.0,...,2.0,2.0,600.0,205.0,1967.0,Stonnington,-37.83320,145.01170,Southern Metropolitan,7217.0
1199,Brighton East,2/19 Hemming St,3,u,880000.0,S,Buxton,11/02/2017,10.7,3187.0,...,2.0,2.0,304.0,34.0,1990.0,Bayside,-37.93080,145.03160,Southern Metropolitan,6938.0
11593,Bentleigh,11 Buckingham Av,3,h,1640000.0,S,Woodards,22/07/2017,11.4,3204.0,...,1.0,3.0,585.0,NaN,NaN,Glen Eira,-37.91722,145.04836,Southern Metropolitan,6795.0

## (b) Engineer one new feature.

In [13]:
df_housing['price_per_room'] = df_housing['Price'] / df_housing['Rooms']
df_housing.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,price_per_room
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,740000.000000
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,517500.000000
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,488333.333333
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0,283333.333333
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0,400000.000000

In [14]:
train, val = train_test_split(df_housing, test_size=0.1, random_state=2020)

In [15]:
train.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,price_per_room
12906,Bentleigh,210 Centre Rd,4,h,1895000.0,S,Jellis,19/08/2017,11.4,3204.0,...,2.0,557.0,220.0,1920.0,NaN,-37.91741,145.02873,Southern Metropolitan,6795.0,473750.0
11732,Malvern East,26 Millewa Av,3,h,1638000.0,S,Fletchers,22/07/2017,8.4,3145.0,...,1.0,697.0,NaN,NaN,Stonnington,-37.88354,145.07536,Southern Metropolitan,8801.0,546000.0
11316,Clayton,1/30 Morton St,3,u,696000.0,S,Harcourts,15/07/2017,16.7,3168.0,...,2.0,259.0,NaN,NaN,Monash,-37.91735,145.13814,South-Eastern Metropolitan,5837.0,232000.0
3095,Hampton,52 Service St,4,h,2250000.0,S,Buxton,28/08/2016,13.7,3188.0,...,2.0,647.0,260.0,1925.0,Bayside,-37.94070,145.01040,Southern Metropolitan,5454.0,562500.0
7995,Heidelberg West,15 Tarakan St,4,h,725000.0,S,Miles,29/04/2017,9.4,3081.0,...,2.0,585.0,NaN,NaN,Banyule,-37.74690,145.04480,Eastern Metropolitan,2674.0,181250.0

In [16]:
val.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,price_per_room
5385,Richmond,140/73 River St,2,u,604000.0,SP,Biggin,22/05/2016,2.6,3121.0,...,2.0,0.0,75.0,2009.0,Yarra,-37.81890,145.01310,Northern Metropolitan,14949.0,302000.000000
1003,Box Hill,5 Patricia St,3,h,1170000.0,S,Ray,23/04/2016,13.1,3128.0,...,1.0,755.0,95.0,1920.0,Whitehorse,-37.82640,145.12480,Eastern Metropolitan,4605.0,390000.000000
6364,Toorak,4 Matthews Ct,3,h,2820000.0,PI,Kay,10/12/2016,4.6,3142.0,...,2.0,600.0,205.0,1967.0,Stonnington,-37.83320,145.01170,Southern Metropolitan,7217.0,940000.000000
1199,Brighton East,2/19 Hemming St,3,u,880000.0,S,Buxton,11/02/2017,10.7,3187.0,...,2.0,304.0,34.0,1990.0,Bayside,-37.93080,145.03160,Southern Metropolitan,6938.0,293333.333333
11593,Bentleigh,11 Buckingham Av,3,h,1640000.0,S,Woodards,22/07/2017,11.4,3204.0,...,3.0,585.0,NaN,NaN,Glen Eira,-37.91722,145.04836,Southern Metropolitan,6795.0,546666.666667

## (c) Use this validation set and the R2 metric to decide if this new feature improves the model.

In [17]:
# Test for 3 variables related to price
model = ols(formula = 'Price ~ Rooms + Car + Landsize', data=val)
res = model.fit()
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.276
Model:                            OLS   Adj. R-squared:                  0.274
Method:                 Least Squares   F-statistic:                     171.1
Date:                Thu, 10 Mar 2022   Prob (F-statistic):           5.60e-94
Time:                        20:49:23   Log-Likelihood:                -19861.
No. Observations:                1352   AIC:                         3.973e+04
Df Residuals:                    1348   BIC:                         3.975e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -1.045e+04   5.13e+04     -0.204      0.839   -1.11e+05    9.02e+04
Rooms       3.577e+05   1.81e+04     19.807      0.000    3.22e+05    3.93e+05
Car         3.158e+04   1.86e+04      1.699      0.090   -4886.152    6.81e+04
Landsize      -1.6042     11.975     -0.134      0.893     -25.095      21.887
==============================================================================
Omnibus:                      865.970   Durbin-Watson:                   1.966
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            17105.968
Skew:                           2.638   Prob(JB):                         0.00
Kurtosis:                      19.608   Cond. No.                     4.82e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.82e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [18]:
# Add in the new engineered feature
model = ols(formula = 'Price ~ Rooms + Car + Landsize + price_per_room', data=val)
res = model.fit()
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.930
Model:                            OLS   Adj. R-squared:                  0.930
Method:                 Least Squares   F-statistic:                     4454.
Date:                Thu, 10 Mar 2022   Prob (F-statistic):               0.00
Time:                        20:49:24   Log-Likelihood:                -18284.
No. Observations:                1352   AIC:                         3.658e+04
Df Residuals:                    1347   BIC:                         3.660e+04
Df Model:                           4
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept      -1.196e+06   1.92e+04    -62.352      0.000   -1.23e+06   -1.16e+06
Rooms           3.893e+05   5635.796     69.076      0.000    3.78e+05       4e+05
Car             5881.3555   5798.079      1.014      0.311   -5492.890    1.73e+04
Landsize          -2.3779      3.732     -0.637      0.524      -9.699       4.943
price_per_room     3.0374      0.027    111.948      0.000       2.984       3.091
==============================================================================
Omnibus:                      538.271   Durbin-Watson:                   1.957
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            85475.696
Skew:                           0.734   Prob(JB):                         0.00
Kurtosis:                      41.925   Cond. No.                     1.65e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.65e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

The R2 value increases dramatically with this new feature so we can conclude that this does help the model.

## 6.

In [19]:
# Get the standard median
sample_median = df_housing['Price'].median()
sample_median

903000.0

## (a) Create a new variable called above median which indicates whether a house’s price is above the median price for houses in this dataset.

In [20]:
# Create a new variable above_median
df_housing['above_median'] = df_housing['Price'].apply(lambda x : int(x > 903000.0))
df_housing.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,price_per_room,above_median
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,740000.000000,1
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,517500.000000,1
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,488333.333333,1
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0,283333.333333,0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0,400000.000000,1

## (b) Report the accuracy of your model from Q5 created from the training set at predicting this new variable on the validation set.

In [37]:
train, val = train_test_split(df_housing, test_size=0.1, random_state=2020)

In [38]:
train.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,price_per_room,above_median
12906,Bentleigh,210 Centre Rd,4,h,1895000.0,S,Jellis,19/08/2017,11.4,3204.0,...,557.0,220.0,1920.0,NaN,-37.91741,145.02873,Southern Metropolitan,6795.0,473750.0,1
11732,Malvern East,26 Millewa Av,3,h,1638000.0,S,Fletchers,22/07/2017,8.4,3145.0,...,697.0,NaN,NaN,Stonnington,-37.88354,145.07536,Southern Metropolitan,8801.0,546000.0,1
11316,Clayton,1/30 Morton St,3,u,696000.0,S,Harcourts,15/07/2017,16.7,3168.0,...,259.0,NaN,NaN,Monash,-37.91735,145.13814,South-Eastern Metropolitan,5837.0,232000.0,0
3095,Hampton,52 Service St,4,h,2250000.0,S,Buxton,28/08/2016,13.7,3188.0,...,647.0,260.0,1925.0,Bayside,-37.94070,145.01040,Southern Metropolitan,5454.0,562500.0,1
7995,Heidelberg West,15 Tarakan St,4,h,725000.0,S,Miles,29/04/2017,9.4,3081.0,...,585.0,NaN,NaN,Banyule,-37.74690,145.04480,Eastern Metropolitan,2674.0,181250.0,0

In [39]:
# Add in the new engineered feature
model = ols(formula = 'Price ~ Rooms + Car + Landsize + price_per_room + above_median', data=train)
res = model.fit()
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.911
Model:                            OLS   Adj. R-squared:                  0.911
Method:                 Least Squares   F-statistic:                 2.505e+04
Date:                Thu, 10 Mar 2022   Prob (F-statistic):               0.00
Time:                        21:06:00   Log-Likelihood:            -1.6507e+05
No. Observations:               12166   AIC:                         3.301e+05
Df Residuals:                   12160   BIC:                         3.302e+05
Df Model:                           5
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept      -1.106e+06   8012.575   -138.084      0.000   -1.12e+06   -1.09e+06
Rooms           3.732e+05   2333.723    159.914      0.000    3.69e+05    3.78e+05
Car             5988.3667   1946.644      3.076      0.002    2172.635    9804.099
Landsize           0.1823      0.409      0.445      0.656      -0.620       0.984
price_per_room     2.9003      0.013    228.445      0.000       2.875       2.925
above_median   -1155.7148   4984.126     -0.232      0.817   -1.09e+04    8613.966
==============================================================================
Omnibus:                     8690.216   Durbin-Watson:                   1.987
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1504652.849
Skew:                          -2.490   Prob(JB):                         0.00
Kurtosis:                      57.253   Cond. No.                     2.10e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.1e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [40]:
# plot for both variables of x and y
x = df_housing[['Rooms','Car','Landsize','price_per_room','above_median']]
y = df_housing['Price']

y_pred_prob = res.predict(x)
y_pred_prob[:20]

0     1.791103e+06
1     1.139781e+06
2     1.428380e+06
3     8.409476e+05
4     1.557353e+06
5     1.003470e+06
6     1.825746e+06
7     2.023327e+06
8     1.428783e+05
9     1.241680e+06
10    6.610906e+05
11    1.329191e+06
12    7.335990e+05
13    1.345175e+06
14    5.518257e+05
15    1.550569e+06
16    1.178168e+06
17    1.155453e+06
18    9.353315e+05
19    9.366499e+05
dtype: float64

In [41]:
y_pred = (y_pred_prob >= 0.5).apply(int)
y_pred[:20]

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
dtype: int64

In [42]:
# let's utilize sklearn's metrics package
from sklearn import metrics

acc = metrics.accuracy_score(y, y_pred)
print(f'The Accuracy of this model is {100*acc}%')

The Accuracy of this model is 0.0%

## (c) Perform logistic regression using the same training set and report the accuracy from this model on the same validation set.

In [27]:
train, val = train_test_split(df_housing, test_size=0.1, random_state=2020)

In [28]:
val.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,price_per_room,above_median
5385,Richmond,140/73 River St,2,u,604000.0,SP,Biggin,22/05/2016,2.6,3121.0,...,0.0,75.0,2009.0,Yarra,-37.81890,145.01310,Northern Metropolitan,14949.0,302000.000000,0
1003,Box Hill,5 Patricia St,3,h,1170000.0,S,Ray,23/04/2016,13.1,3128.0,...,755.0,95.0,1920.0,Whitehorse,-37.82640,145.12480,Eastern Metropolitan,4605.0,390000.000000,1
6364,Toorak,4 Matthews Ct,3,h,2820000.0,PI,Kay,10/12/2016,4.6,3142.0,...,600.0,205.0,1967.0,Stonnington,-37.83320,145.01170,Southern Metropolitan,7217.0,940000.000000,1
1199,Brighton East,2/19 Hemming St,3,u,880000.0,S,Buxton,11/02/2017,10.7,3187.0,...,304.0,34.0,1990.0,Bayside,-37.93080,145.03160,Southern Metropolitan,6938.0,293333.333333,0
11593,Bentleigh,11 Buckingham Av,3,h,1640000.0,S,Woodards,22/07/2017,11.4,3204.0,...,585.0,NaN,NaN,Glen Eira,-37.91722,145.04836,Southern Metropolitan,6795.0,546666.666667,1

In [29]:
# Add in the new engineered feature
model = ols(formula = 'Price ~ Rooms + Car + Landsize + price_per_room + above_median', data=val)
res = model.fit()
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.931
Model:                            OLS   Adj. R-squared:                  0.931
Method:                 Least Squares   F-statistic:                     3658.
Date:                Thu, 10 Mar 2022   Prob (F-statistic):               0.00
Time:                        20:49:38   Log-Likelihood:                -18267.
No. Observations:                1352   AIC:                         3.655e+04
Df Residuals:                    1346   BIC:                         3.658e+04
Df Model:                           5
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept      -1.262e+06   2.21e+04    -57.111      0.000   -1.31e+06   -1.22e+06
Rooms           4.104e+05   6635.127     61.855      0.000    3.97e+05    4.23e+05
Car             4985.4987   5729.872      0.870      0.384   -6254.952    1.62e+04
Landsize          -3.0922      3.689     -0.838      0.402     -10.328       4.144
price_per_room     3.1658      0.035     91.394      0.000       3.098       3.234
above_median   -8.289e+04   1.42e+04     -5.852      0.000   -1.11e+05   -5.51e+04
==============================================================================
Omnibus:                      429.899   Durbin-Watson:                   1.962
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            74599.992
Skew:                           0.019   Prob(JB):                         0.00
Kurtosis:                      39.390   Cond. No.                     2.07e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.07e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [30]:
# plot for both variables of x and y
x = df_housing[['Rooms','Car','Landsize','price_per_room','above_median']]
y = df_housing['Price']

y_pred_prob = res.predict(x)
y_pred_prob[:20]

0     1.822873e+06
1     1.113640e+06
2     1.431790e+06
3     8.707977e+05
4     1.572576e+06
5     9.647704e+05
6     1.865161e+06
7     2.074624e+06
8     1.030170e+05
9     1.221553e+06
10    6.717242e+05
11    1.320158e+06
12    7.508691e+05
13    1.336154e+06
14    5.493943e+05
15    1.558655e+06
16    1.157195e+06
17    1.132319e+06
18    8.934528e+05
19    9.720110e+05
dtype: float64

In [31]:
y_pred = (y_pred_prob >= 0.5).apply(int)
y_pred[:20]

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
dtype: int64

In [32]:
# let's utilize sklearn's metrics package
from sklearn import metrics

acc = metrics.accuracy_score(y, y_pred)
print(f'The Accuracy of this model is {100*acc}%')

The Accuracy of this model is 0.0%

## (d) Compute the Precision, Recall, and AUC for both models on the validation set.

In [ ]:
# build the confusion matrix
cm = metrics.confusion_matrix(y, y_pred)
# display it nicely
disp = metrics.ConfusionMatrixDisplay(confusion_matrix=cm)
disp.plot()
plt.show()

## 7. Perform a linear regression using the training set from Q5 with all numerical variables to predict Price and use either Lasso or Ridge regression. Report the R2 on the validation set.

In [33]:
# take random 10% of the housing for testing

train, val = train_test_split(df_housing, test_size=0.1, random_state=2020)
train.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,price_per_room,above_median
12906,Bentleigh,210 Centre Rd,4,h,1895000.0,S,Jellis,19/08/2017,11.4,3204.0,...,557.0,220.0,1920.0,NaN,-37.91741,145.02873,Southern Metropolitan,6795.0,473750.0,1
11732,Malvern East,26 Millewa Av,3,h,1638000.0,S,Fletchers,22/07/2017,8.4,3145.0,...,697.0,NaN,NaN,Stonnington,-37.88354,145.07536,Southern Metropolitan,8801.0,546000.0,1
11316,Clayton,1/30 Morton St,3,u,696000.0,S,Harcourts,15/07/2017,16.7,3168.0,...,259.0,NaN,NaN,Monash,-37.91735,145.13814,South-Eastern Metropolitan,5837.0,232000.0,0
3095,Hampton,52 Service St,4,h,2250000.0,S,Buxton,28/08/2016,13.7,3188.0,...,647.0,260.0,1925.0,Bayside,-37.94070,145.01040,Southern Metropolitan,5454.0,562500.0,1
7995,Heidelberg West,15 Tarakan St,4,h,725000.0,S,Miles,29/04/2017,9.4,3081.0,...,585.0,NaN,NaN,Banyule,-37.74690,145.04480,Eastern Metropolitan,2674.0,181250.0,0

In [34]:
# normalize the numerical columns
for col in ['Rooms', 'Distance', 'Landsize']:
    
    train_mean = train[col].mean()
    train_std = train[col].std()
    
    train[col] = ((train[col] - train_mean) / train_std)
    val[col] = ((val[col] - train_mean) / train_std)

train.head()

<ipython-input-34-122c3d390db7>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[col] = ((train[col] - train_mean) / train_std)
<ipython-input-34-122c3d390db7>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val[col] = ((val[col] - train_mean) / train_std)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,price_per_room,above_median
12906,Bentleigh,210 Centre Rd,1.112389,h,1895000.0,S,Jellis,19/08/2017,0.215788,3204.0,...,-0.001340,220.0,1920.0,NaN,-37.91741,145.02873,Southern Metropolitan,6795.0,473750.0,1
11732,Malvern East,26 Millewa Av,0.065122,h,1638000.0,S,Fletchers,22/07/2017,-0.296169,3145.0,...,0.032128,NaN,NaN,Stonnington,-37.88354,145.07536,Southern Metropolitan,8801.0,546000.0,1
11316,Clayton,1/30 Morton St,0.065122,u,696000.0,S,Harcourts,15/07/2017,1.120246,3168.0,...,-0.072580,NaN,NaN,Monash,-37.91735,145.13814,South-Eastern Metropolitan,5837.0,232000.0,0
3095,Hampton,52 Service St,1.112389,h,2250000.0,S,Buxton,28/08/2016,0.608289,3188.0,...,0.020175,260.0,1925.0,Bayside,-37.94070,145.01040,Southern Metropolitan,5454.0,562500.0,1
7995,Heidelberg West,15 Tarakan St,1.112389,h,725000.0,S,Miles,29/04/2017,-0.125516,3081.0,...,0.005354,NaN,NaN,Banyule,-37.74690,145.04480,Eastern Metropolitan,2674.0,181250.0,0

In [35]:
# sklearn has a nice ridge regression model
from sklearn.linear_model import Ridge

x_train = train[['Rooms', 'Distance', 'Landsize']]
y_train = train['Price']

model = Ridge(alpha=10.0)
model.fit(x_train,y_train)

y_pred = model.predict(x_train)

# score the model
r2 = model.score(x_train, y_train)
print(f'This model has an R^2 on the train set of {r2}')

This model has an R^2 on the train set of 0.34840349128132697

In [36]:
x_val = val[['Rooms', 'Distance', 'Landsize']]
y_val = val['Price']

r2 = model.score(x_val, y_val)
print(f'This model has an R^2 on the validation set of {r2}')

This model has an R^2 on the validation set of 0.37793746946295503